main {
    margin: 0;
    min-width: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.left-panel {
    display: grid;
    grid-template-columns: 6vh 1fr;
}

.chat-title {
    color: white;
}

.left-buttons {
    display: flex;
    flex-direction: column;
}

.button-panel {
    height: 8vh;
    width: 100%;
    background: #374a57;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: -1px 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.button-panel:nth-child(even) {
    background: #192360;
    box-shadow: -1px 2px 4px 3px rgba(0, 0, 0, 0.2) inset;
}

.button-panel:nth-child(even):hover {
    background: #314bb8;
}

.chat {
    height: 100%;
    margin-right: 1vh;
}

.chat-content {
    background: #374a57;
    height: 85vh;
    margin-bottom:10px;
    overflow-y: scroll;
}

.chat-title {
    height: 4vh;
    width: 100%;
}

.send-area {
    height: 5vh;
    background: #669F9E;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    bottom: 0;
}

.right-panel{
    background: #538281;
    box-shadow: -1px 2px 5px 0 rgba(0, 0, 0, 0.7);
    padding: 0 5vh;
    display: flex;
    flex-direction: column;
}


.send-input{
    display: block;
    width: 90%;
    height: 60%;
    padding: 0.60em 0.2em 0.25em;
    border: none;
    border:0;
    background: transparent;
    margin-left: 1%;
}

.send-input::placeholder {
    color: #edfdff;
}

.send-input:focus {
    outline: none;
    color: #ffffff;
}

.chat-alert-call {
    width: 100%;
    background: rgb(123, 136, 255);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
}

.chat-alert-button {
    border-radius: 30px;
    border:none;
    padding:0.5em 0.8em;
    color: #000000;
    background: #2ee277;
    margin-left: 1.3em;
    text-decoration: none;
    font-size: 0.8em;
}

.chat-alert-button:hover {
    background: #38ff8b;
}

.chat-message {
    padding: 0.3em 1.2em;
}

.chat-message:nth-child(odd){
    background: #253c57;
}

.chat-message-0{
    padding: 0.3em 1.2em;
}

.chat-message-1{
    padding: 0.3em 1.2em;
    background: #253c57;
}

.chat-message-user {
    font-weight: bolder;
}

.chat-message-time {
    font-size: 0.8em;
    margin-left: 1.5em;
    font-weight: lighter;
}

.return-button {
    margin: 2vh 25% 1.6vh 25%;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.user-active {
    font-weight: bold;
    color: #2ee277;
}

.user-inactive {
    font-weight: lighter;
    color: #253c57;
}

.user-away {
    color: #ffcf23;
}

.right-panel h4 {
    margin-top: 2vh;
    margin-bottom: 0;
}

.file-panel {
    background: #374a57;
    height: 90vh;
}

.file-content {
    height: 90%;
    overflow-y: scroll;
}

.file-bar {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-bar-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 2%;
    display: block;
    cursor: pointer;
}

.file-info, .file-info-menu {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    text-align: center;
    align-items: center;
    padding-right: 2%;
}

.file-info-icon {
    display: none;
}

.file-info:hover > .file-info-icon {
    display: block;
    cursor: pointer;
    text-align: right;
}

.file-info:nth-child(even) {
    background: #253c57;
}

.file-info:hover {
    font-weight: bold;
    background-color: #415dff;
    animation-name: fadeIn;
    animation-duration: 0.25s;
}

.chat-panel {
    display: none;
}

#file-upload  {
    display: none;
}

.fa-comments { /* modification statique pour les files*/
    color: white;
    text-decoration: none;
}