main {
    margin: 0;
    min-width: 100vh;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.left-panel {
    display: grid;
    grid-template-columns: 6vh 1fr;
}

.chat-title {
    color: white;
    margin-top: -6px;
    margin-bottom: 6px;
}

.left-buttons {
    display: flex;
    flex-direction: column;
}

.button-panel {
    height: 8vh;
    width: 100%;
    background: #374a57;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: -1px 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.button-panel:nth-child(odd) {
    background: #192360;
    box-shadow: -1px 2px 4px 3px rgba(0, 0, 0, 0.2) inset;
}

.button-panel:nth-child(odd):hover {
    background: #314bb8;
}

.chat {
    height: 100%;
    margin-right: 1vh;
}

.chat-content {
    background: #374a57;
    height: 85vh;
    margin-bottom:10px;
    overflow-y: scroll;
}

.chat-title {
    height: 4vh;
    width: 100%;
}

.chat-bottom {

}

.send-area {
    height: 5vh;
    width: 100%;
    background: #669F9E;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    bottom: 0;
    margin-right: 0;
}

.visio-button {
    border-radius: 30px;
    border:none;
    padding:0.8em 1.3em;
    color: #ffffff;
    background: #971f1f;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4);
    margin-left: 3vh;
    text-decoration: none;
    font-size: 0.8em;
}

.visio-button:hover {
    background: #bb3939;
}

.right-panel{
    background: #538281;
    box-shadow: -1px 2px 5px 0 rgba(0, 0, 0, 0.7);
    padding: 0 3vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.right-panel > h3{
    margin-top: 10vh;
}

.send-input{
    display: block;
    width: 90%;
    height: 60%;
    padding: 0.60em 0.2em 0.25em;
    border: none;
    border:0;
    background: transparent;
    margin-left: 1%;
}

.send-input::placeholder {
    color: #edfdff;
}

.send-input:focus {
    outline: none;
    color: #ffffff;
}

.chat-alert-call {
    width: 100%;
    background: rgb(123, 136, 255);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;
}

.chat-alert-button {
    border-radius: 30px;
    border:none;
    padding:0.5em 0.8em;
    color: #000000;
    background: #2ee277;
    margin-left: 1.3em;
    text-decoration: none;
    font-size: 0.8em;
}

.chat-alert-button:hover {
    background: #38ff8b;
}

.chat-message {
    padding: 0.3em 1.2em;
}

.chat-message:nth-child(odd){
    background: #253c57;
}

.chat-message-0{
    padding: 0.3em 1.2em;
}

.chat-message-1{
    padding: 0.3em 1.2em;
    background: #253c57;
}

.chat-message-user {
    font-weight: bolder;
}

.chat-message-time {
    font-size: 0.8em;
    margin-left: 1.5em;
    font-weight: lighter;
}

.return-button {
    margin: 2vh 25% 1.6vh 25%;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.user-name {
    cursor: pointer;
}

.user-name:hover {
    color: #2f2f2f;
}

.user-active {
    font-weight: bold;
    color: #2ee277;
}

.user-inactive {
    font-weight: lighter;
    color: #253c57;
}

.user-away {
    color: #ffcf23;
}

.user-selected {
    color: #2f2f2f;
}

.user-options{
    background-color: #2f2f2f;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.7);
    position: absolute;
    margin-left: -22vh;
    margin-top: -5vh;
    width: 80%;
    height: 10vh;
    text-align: left;
    animation-name: fadeIn;
    animation-duration: 0.2s;
}

.user-options>*{
    margin: 0.5vh;
}

.fa-angle-down{
    margin-left: 87%;
    color: #ffffff;
}

.fa-angle-down:hover{
    color: #647780;
}

.kickuser {
    cursor: pointer;
    color: #d74040;
}

.kickuser:hover {
    color: #822626;
}

.right-panel h4 {
    margin-top: 2vh;
    margin-bottom: 0;
}