main {
	margin: 0;
	min-width: 100vh;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.left-panel{
	text-align: center;
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;
}

.cours-list{
	text-align: center;
	padding: 150px;
	margin: auto;
	border: 1px solid black;
}

.miniature{
	padding: 100px;
	border: 1px solid black;
}

.right-panel{
	background: azure;
	justify-content: center;
	align-items: center;

}

.right-section{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(50, 168, 119, 0.35);
	height: 50%;
}

.right-section:nth-child(2n){
	background: #415dff;
}

.form-group {
	height: 4vh;
	background: #ffffff;
	border-radius: 50px;
	bottom: 0;
	margin-right: 10px;
}

.send-input{
	display: block;
	width: 90%;
	height: 60%;
	padding: 0.50em 0.2em 0.25em;
	border: none;
	border:0;
	background: transparent;
	margin-left: 3%;
}

.send-input:focus {
	outline: none;
	color: #000000;
}

.button-panel {
	background-color: rgba(0,0,0,0.1);
	color: rgba(255, 255, 255, 0.8);
	width: 40px;
	height: 30px;
	border-radius: 15px;
	cursor: pointer;
	opacity: 1;
	visibility: visible;
	align-items: center;
	justify-content: center;
}

.button-panel:focus {
	outline: none;
}

.button-panel:hover {
	transition: all .3s ease;
	background-color: rgba(0,0,0,0.8);
}

.fa-check{
	margin-top: 16%;
}